@media only screen and (max-width: 600px) {

    .header_box h1 {
        font-size: 2em;
    }

    .header_box h2 {
        font-size: 1em;
    }

    .main_grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-right: 0px;
        row-gap: 40px;
    }
    
    .column1 {
        border-radius: 10px;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .column2 {
        border-radius: 10px;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .column3 {
        border-radius: 10px;
        grid-row-start: 3;
        grid-row-end: 4;
    }

}